.App {
  text-align: center;
}

.main {
  background-color: #222427;
}

.Title {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-top: 20px;
}

.Listing {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Listing .form-control {
  margin: 5px;
  background-color: #222427;
  color: white;
}

.Listing .form-control:focus {
  background-color: #222427;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.ItemList {
  background-color: #222427;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  margin-top: 5%;
}

.ItemList .image {
  width: 240px;
  height: 248px;
  border-radius: 5%;
}

.ItemList .description {
  margin-top: 7px;
}

.ItemList .category {
  margin-top: -20px;
  font-style: italic;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
